$font-color: white
$bg-color: black


body
  margin: 0
  width: 100vw  
  height: 100vh
  background-color: $bg-color

#Lef-root
  width: 100%
  height: 100%
  position: relative
  *
    color: $font-color
    margin: 0
    box-sizing: border-box
    font-size: 19px

  .App
    height: 100%
    overflow-x: hidden
    position: relative
    position: relative
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0))
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0))
    // &::after
    //   top: 0
    //   left: 0
    //   content: ''
    //   position: absolute
    //   width: 100%
    //   height: 100%
    //   // background-color: black
    //   z-index: 10
    //   box-shadow: inset 0px 0px 75px 75px black

    .Loader
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: black
      &--hidden
        display: none
      &__text
        position: absolute
        left: 50vw
        bottom: 20vh
        transform: translate(-50%, 0)
        font-size: 25px

    .noselect
      -webkit-touch-callout: none  /* iOS Safari */
      -webkit-user-select: none    /* Safari */
      -khtml-user-select: none     /* Konqueror HTML */
      -moz-user-select: none       /* Firefox */
      -ms-user-select: none        /* Internet Explorer/Edge */
      user-select: none            /* Non-prefixed version, currently supported by Chrome and Opera */

    .enable-acc
      position: fixed
      z-index: 10000
      left: 50vw
      bottom: 20vh
      transform: translate(-50%, 0)
      padding: 0
      cursor: pointer
      outline: none
      border: none
      background-color: rgba(0, 0, 0, 0)
      font-size: 25px
      width: 80vw

    .abs-cover
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0




